<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="layout">

    <aside class="sidebar">
        <h2 class="logo">E-comaster</h2>

        <nav>
            <a class="menu-lateral" href="/">Dashboard</a>
            <a class="menu-lateral" href="/precificacao">Precificação</a>
        </nav>
    </aside>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>